.mygrid-wrapper-div {
    border: none;
    overflow: scroll;
    height: 400px;
}
.popover{
    max-width: 100%;
}
.toolpic {
   width: 70px;
   height: 70px;
   z-index: -1;
   align: left;
}
.addDomainForm {
  margin-left: -16px;
}
.domFields {
  margin-left: -25px;
}
.addDomTXT > i {
  right: 10px;
}
.editDomainForm {
  margin-left: 10px;
}
.to-left-65px {
  margin-left: -65px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-7 {
  margin-top: 7px;
}
.jumbotron {
    position: relative;
    background: #000 url("servers.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}
.jumbotron * h1, .jumbotron * p {
  color: white;
}
div#help * li {
  list-style-image: url('check.png');
}
h2 {
  font-weight: bold;
}
footer > ul {
  margin: 0;
  margin-top: -10px;
  list-style-type: none;
  text-align: center;
}
footer * li {
  display: inline;
}
div.alert {
  letter-spacing: 2px;
}
