.mygrid-wrapper-div {
    border: none;
    overflow: scroll;
    height: 400px;
}
.popover{
    max-width: 100%;
}
.toolpic {
   width: 70px;
   height: 70px;
   z-index: -1;
   align: left;
}
.addDomainForm {
  margin-left: -16px;
}
.domFields {
  margin-left: -25px;
}
.addDomTXT > i {
  right: 10px;
}
.editDomainForm {
  margin-left: 10px;
}
.to-left-65px {
  margin-left: -65px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-7 {
  margin-top: 7px;
}
